.title {
  text-align: center;
  margin: 10px 5px;
  color: white;
}

p {
  margin: 0;
}

.link {
  color: white;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.link::before {
  transition: 800ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  content: "\00a0";
  width: 100%;
  position: absolute;
  left: -200px;
  border-bottom: 1px solid white;
  margin-top: 10px;
}

.link:hover::before {
  left: 0px;
}

hr {
  width: 100%;
}

/* .MuiFormLabel-root,
.MuiInputLabel-root {
  color: rgb(255 251 251 / 40%);
}

.MuiFormLabel-root.Mui-focused,
.MuiInputLabel-root.Mui-focused {
  color: #1976d2;
}

.MuiFormLabel-root.Mui-focused ~ .MuiInputBase-root:hover,
.MuiInputLabel-root.Mui-focused ~ .MuiInputBase-root:hover {
  border-bottom: #1976d2;
  color: #1976d2;
}

.MuiInputBase-input,
.MuiInput-input {
  color: white;
}

.MuiInputBase-root::before,
.MuiInput-root::before {
  border-bottom: 1px solid rgb(255 251 251 / 40%);
}

.MuiInputBase-root.Mui-Error::before,
.MuiInput-root.Mui-error::before {
  border-bottom: #d32f2f;
}

.MuiInputBase-root.Mui-Error::after,
.MuiInput-root.Mui-error::after {
  border-bottom: #d32f2f;
}

.MuiInputBase-root:hover,
.MuiInput-root:hover {
  transition: 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-bottom: 1.5px solid rgb(255 251 251 / 40%);
} */
